server:
  http:
    addr: 0.0.0.0:8107
    timeout: 1s
  grpc:
    addr: 0.0.0.0:9107
    timeout: 1s
data:
  database:
    driver: mysql
    source: root:root@tcp(127.0.0.1:3306)/billing_service?charset=utf8mb4&parseTime=True&loc=Local
  redis:
    addr: 127.0.0.1:6379
    read_timeout: 0.2s
    write_timeout: 0.2s
billing:
  prices:
    passport: 0.01
    payment: 0.10
    asset: 0.05
  free_quotas:
    passport: 10000
    payment: 1000
    asset: 1000
